$psm_color_grey: #D8D8D8
$psm_color_red: #DD4947
$psm_color_orange: #EF6F00
$psm_color_orange_light: #F2A200
$psm_color_blue: #009DB7
$psm_color_green: #8CB319

$psm_font_family: "Open Sans", Arial, sans-serif

