.strength-meter-bar {
  height: 5px;
  background-color: #d8d8d8;
}

.strength-meter-progress {
  height: 5px;
  width: 0;
  background-color: transparent;
}

.strength-meter-message {
  color: #9e9e9e;
  margin-bottom: 5px;
}

.strength-meter[data-score="0"] .strength-meter-label {
  display: none;
}
.strength-meter[data-score="0"] .strength-meter-copy {
  color: #dd4947;
}
.strength-meter[data-score="1"] .strength-meter-progress {
  width: 25%;
  background-color: #ef6f00;
}
.strength-meter[data-score="1"] .strength-meter-copy {
  color: #f2a200;
}
.strength-meter[data-score="2"] .strength-meter-progress {
  width: 50%;
  background-color: #f2a200;
}
.strength-meter[data-score="2"] .strength-meter-copy {
  color: #f2a200;
}
.strength-meter[data-score="3"] .strength-meter-progress {
  width: 75%;
  background-color: #009db7;
}
.strength-meter[data-score="3"] .strength-meter-copy {
  color: #009db7;
}
.strength-meter[data-score="4"] .strength-meter-progress {
  width: 100%;
  background-color: #8cb319;
}
.strength-meter[data-score="4"] .strength-meter-copy {
  color: #8cb319;
}
