/* line 13, ../../sass/password-strength-meter.sass */
.strength-meter-bar {
  height: 5px;
  background-color: #d8d8d8;
}

/* line 16, ../../sass/password-strength-meter.sass */
.strength-meter-progress {
  height: 5px;
  width: 0;
  background-color: transparent;
}

/* line 20, ../../sass/password-strength-meter.sass */
.strength-meter-message {
  color: #9e9e9e;
  margin-bottom: 5px;
}

/* line 27, ../../sass/password-strength-meter.sass */
.strength-meter[data-score="0"] .strength-meter-label {
  display: none;
}
/* line 29, ../../sass/password-strength-meter.sass */
.strength-meter[data-score="0"] .strength-meter-copy {
  color: #dd4947;
}
/* line 34, ../../sass/password-strength-meter.sass */
.strength-meter[data-score="1"] .strength-meter-progress, .strength-meter[data-score="2"] .strength-meter-progress, .strength-meter[data-score="3"] .strength-meter-progress {
  width: 25%;
  background-color: #ef6f00;
}
/* line 37, ../../sass/password-strength-meter.sass */
.strength-meter[data-score="1"] .strength-meter-copy, .strength-meter[data-score="2"] .strength-meter-copy, .strength-meter[data-score="3"] .strength-meter-copy {
  color: #f2a200;
}
/* line 41, ../../sass/password-strength-meter.sass */
.strength-meter[data-score="4"] .strength-meter-progress, .strength-meter[data-score="5"] .strength-meter-progress {
  width: 50%;
  background-color: #f2a200;
}
/* line 44, ../../sass/password-strength-meter.sass */
.strength-meter[data-score="4"] .strength-meter-copy, .strength-meter[data-score="5"] .strength-meter-copy {
  color: #f2a200;
}
/* line 48, ../../sass/password-strength-meter.sass */
.strength-meter[data-score="6"] .strength-meter-progress, .strength-meter[data-score="7"] .strength-meter-progress {
  width: 75%;
  background-color: #009db7;
}
/* line 51, ../../sass/password-strength-meter.sass */
.strength-meter[data-score="6"] .strength-meter-copy, .strength-meter[data-score="7"] .strength-meter-copy {
  color: #009db7;
}
/* line 55, ../../sass/password-strength-meter.sass */
.strength-meter[data-score="8"] .strength-meter-progress, .strength-meter[data-score="9"] .strength-meter-progress {
  width: 100%;
  background-color: #8cb319;
}
/* line 58, ../../sass/password-strength-meter.sass */
.strength-meter[data-score="8"] .strength-meter-copy, .strength-meter[data-score="9"] .strength-meter-copy {
  color: #8cb319;
}
